.card {
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  background: #dbdbdb;
  border-radius: 8px;
}

.image {
  border-radius: 8px;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.25rem;
  line-height: 1.5;
}

.title {
  height: 50px;
  overflow: hidden;
}
